{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />
<link href="https://fonts.googleapis.com/css?family=Montserrat|Raleway&display=swap" rel="stylesheet">

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Заголовок первого уровня</h1>
<h3>Заголововк третьего уровня</h3>
<input type="text" name="name" placeholder="Введите текст">
<h1>привет</h1>
<input type="email" name="email" placeholder="введите емаил">
<input type="submit" value="отправить сейчас">
<section><article> <h1>привет</h1></article></section>
</body>
</html>